body{
    background-color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'sans-serif';
    color: #333;
}
#main{
    margin: 30px 8px 30px 8px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    overflow:hidden;
    padding-left: 10px;
    padding-right: 10px;

}
#title{
    margin-top: 30px;
    
}

#img-div{
    background-color: white;
    border: 5px solid white;
    text-align: center;
    
}

#image{
    max-width: 100%;
    display: block;
    margin: auto;
}
figure{
    margin:0px;
}
#img-caption{
    margin-top:15px;
    padding-bottom: 15px;
}
#list{
    color: #333;
    max-width: 550px;
    margin: 0 auto;
    margin-top:50px;
    text-align: left; 
}
#tribute-info{
    font-size: 18px;
    font-weight: 700;
}
li{
    padding-bottom: 10px;
}
p{
    text-align: center;
}

#footer{
    font-size: 18px;
    padding-bottom: 18px;
}